footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: right;
    border-top: 1px solid #ccc;
    position: relative; 
    margin-top: 20px; 
}
.footer-content {
    display: flex;
    justify-content: flex-end;
}
.footer-buttons {
    display: flex;
}
.footer-button {
    text-decoration: none;
    color: #db31a8;
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}
.footer-button i {
    font-size: 1.5em; 
}
.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}
